html {
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

.building {
  color: white;
  background-image: url(Broadway/resources/images/the-flatiron-building.png);
  background-size: cover;
  background-repeat:no-repeat;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
  font-weight: normal;
}

#footer {
  text-align: left;
  color: white;
  background-color: Dimgrey;
}

#copyright {
  font-size: 11px;
}

a:visited {
    color: white;
}
